// Dark Blue #1F4283
// Light Blue #4883C4
// Light Teal #449A9E
// Dark Teal #1F8478
// Sky Blue #B0CDE6
// Dark Grey #302E2F
// Light Grey #4B4B4D

html{
	font-size:18px;
	box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
	font-family: "Lato", "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
	margin: 0;
	line-height:1.6;
	color:#302e2f;
	background-color: #fff;
	//background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyODgnIGhlaWdodD0nMjg4JyB2aWV3Qm94PScwIDAgMjg4IDI4OCc+Cgk8ZGVmcz4KCQk8cGF0dGVybiBpZD0nYmx1ZXN0cmlwZScgcGF0dGVyblVuaXRzPSd1c2VyU3BhY2VPblVzZScgeD0nMCcgeT0nMCcgd2lkdGg9JzE4JyBoZWlnaHQ9JzE4JyB2aWV3Qm94PScwIDAgMzYgMzYnID4KCQk8cmVjdCB3aWR0aD0nMTEwJScgaGVpZ2h0PScxMTAlJyBmaWxsPScjZmZmJy8+CgkJCTxwYXRoIGQ9J00xLDFoMzZ2MzZoLTM2di0zNicgZmlsbC1vcGFjaXR5PScwJyBzdHJva2Utd2lkdGg9JzEnIHN0cm9rZS1kYXNoYXJyYXk9JzAsMSwxJyBzdHJva2U9JyNkZGQnLz4KCQk8L3BhdHRlcm4+IAoJCTxmaWx0ZXIgaWQ9J2Z1enonIHg9JzAnIHk9JzAnPgoJCQk8ZmVUdXJidWxlbmNlIHR5cGU9J3R1cmJ1bGVuY2UnIHJlc3VsdD0ndCcgYmFzZUZyZXF1ZW5jeT0nLjIgLjMnIG51bU9jdGF2ZXM9JzUnIHN0aXRjaFRpbGVzPSdzdGl0Y2gnLz4KCQkJPGZlQ29sb3JNYXRyaXggdHlwZT0nc2F0dXJhdGUnIGluPSd0JyB2YWx1ZXM9JzAnLz4KCQk8L2ZpbHRlcj4KCTwvZGVmcz4KCTxyZWN0IHdpZHRoPScxMDAlJyBoZWlnaHQ9JzEwMCUnIGZpbGw9J3VybCgjYmx1ZXN0cmlwZSknLz4KPHJlY3Qgd2lkdGg9JzEwMCUnIGhlaWdodD0nMTAwJScgZmlsdGVyPSd1cmwoI2Z1enopJyBvcGFjaXR5PScwLjEnLz4KPC9zdmc+Cg==);
}
.clients, footer, .about, .contact, .brand{
	max-width:1024px;
	margin:0px auto;
	padding: 1rem 10px;
}
header{
	padding:0 10px;

	background: transparent;
	border: none;
}
footer{
	font-size: 0.8rem;
}
footer a{
	text-decoration: none;
}
a{
	color: #1F8478;
}
a:hover{
	color: #449A9E;
}
hr{
	border: none;
	border-top: 0.2rem solid #1F8478;
}
img{
	max-width: 100%;
	height: auto;
}

h1,h2,h3{
	font-family: "Montserrat", "Lato", "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
	line-height: 1.2;
	color: #4b4b4D;
	font-weight: 400;
}
h1{
	background-color: #4883C4;
	margin: 0;
	color: #fff;
	font-size: 2.7rem;
	letter-spacing: -0.1rem;
	padding: 0.125rem 0.5rem;
	border-radius: 2px;
}
h2{
	font-size: 2.3rem;
	line-height: 1;
	margin-bottom: 0;
}
figure{
	font-size: 0.8rem;
}
.logo{
	max-width: 50vw;
	border: 0;
	display: block;
    margin: 0 auto;
}
.work-container{
	//background: #449A9E;
	//background: #302E2F;
	//background: #4883C4;
	//background: #1F4283;
	position: relative;
}
.work{
	display: flex;
	position: relative;
	color: #fff;
	padding-top: 0.125rem;
    padding-bottom: 0.125rem;
     word-break: break-word;
}

.work-left{
	flex: 3;
	display: flex;
}
.work-right{
	flex: 5;
	justify-content: stretch;
	display: flex;
}
.work-nested{
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: stretch;

}
.work-right-nested{
	display: flex;
	flex-direction: row;
	flex: 1;

}
.work-item{
	padding: 15vh 1rem 1rem;
	margin: 0.125rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-color: #302E2F;
	position: relative;
	overflow: hidden;
	z-index: 2;
	cursor: pointer;
}
.work-item-1{
	background-color: #1F4283;
	padding-top: 30vh;
	//flex: 1;
}
.work-item-2{
	padding-top: 25vh;
	background-color: #1F8478;
	//flex: 1;
}
.work-item-3{
	background-color: #1F4283;
	padding-top: 20vh;
}
.work-item-4{
	flex: 2;
	background-color: #4883C4;
}
.work-item-5{
	flex: 2;
	background-color: #449A9E;
}
.work-img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	z-index: -1;
	background-size: cover;
	background-position: top left;
	-webkit-filter: grayscale(100%) opacity(0.7);
	filter: grayscale(100%) opacity(0.7);
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;

}
.work-img-1{
	background-image: url("img/header-mediasonar-min.png");
} 
.work-img-2{
	background-image: url("img/header-daimler-min.png");
} 
.work-img-3{
	background-image: url("img/header-wisdom-min.png");
	background-position: bottom left;
} 
.work-img-4{
	background-image: url("img/header-diply-min.png");
} 
.work-img-5{
	background-image: url("img/header-connex-min.png");
} 
.work h2{
	text-transform: uppercase;
    font-size: 1.8rem;
    margin: 0;
    line-height: 1.2;
    z-index: 2;
    background-color: #fff;
    //background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyODgnIGhlaWdodD0nMjg4JyB2aWV3Qm94PScwIDAgMjg4IDI4OCc+Cgk8ZGVmcz4KCQk8cGF0dGVybiBpZD0nYmx1ZXN0cmlwZScgcGF0dGVyblVuaXRzPSd1c2VyU3BhY2VPblVzZScgeD0nMCcgeT0nMCcgd2lkdGg9JzE4JyBoZWlnaHQ9JzE4JyB2aWV3Qm94PScwIDAgMzYgMzYnID4KCQk8cmVjdCB3aWR0aD0nMTEwJScgaGVpZ2h0PScxMTAlJyBmaWxsPScjZmZmJy8+CgkJCTxwYXRoIGQ9J00xLDFoMzZ2MzZoLTM2di0zNicgZmlsbC1vcGFjaXR5PScwJyBzdHJva2Utd2lkdGg9JzEnIHN0cm9rZS1kYXNoYXJyYXk9JzAsMSwxJyBzdHJva2U9JyNkZGQnLz4KCQk8L3BhdHRlcm4+IAoJCTxmaWx0ZXIgaWQ9J2Z1enonIHg9JzAnIHk9JzAnPgoJCQk8ZmVUdXJidWxlbmNlIHR5cGU9J3R1cmJ1bGVuY2UnIHJlc3VsdD0ndCcgYmFzZUZyZXF1ZW5jeT0nLjIgLjMnIG51bU9jdGF2ZXM9JzUnIHN0aXRjaFRpbGVzPSdzdGl0Y2gnLz4KCQkJPGZlQ29sb3JNYXRyaXggdHlwZT0nc2F0dXJhdGUnIGluPSd0JyB2YWx1ZXM9JzAnLz4KCQk8L2ZpbHRlcj4KCTwvZGVmcz4KCTxyZWN0IHdpZHRoPScxMDAlJyBoZWlnaHQ9JzEwMCUnIGZpbGw9J3VybCgjYmx1ZXN0cmlwZSknLz4KPHJlY3Qgd2lkdGg9JzEwMCUnIGhlaWdodD0nMTAwJScgZmlsdGVyPSd1cmwoI2Z1enopJyBvcGFjaXR5PScwLjEnLz4KPC9zdmc+Cg==);

    padding: 0.25rem 0.5rem;
    border-radius: 2px;
}
.work-item-1 h2{
	color: #1F4283;
}
.work-item-2 h2{
	color: #1F8478;
}
.work-item-3 h2{
	color: #1F4283;
}
.work-item-4 h2{
	color: #4883C4;
}
.work-item-5 h2{
	color: #449A9E;
}
.work-description-container{
	z-index: 2;
	overflow: hidden;
	max-height: 0;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.work-item p{
	background-color: #fff;
    color: #302E2F;
	padding: 0.25rem 0.5rem;
    margin-top: 0.25rem;
    font-size: 0.875rem;
    font-family: "Montserrat", "Lato", "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
	border-radius: 2px;
	margin-bottom: 0;
}
.work-item:hover p{

}
.work-item.open-work .work-description-container{
	max-height: 1000px;
}
.work-item.open-work .work-img{
	-webkit-filter: grayscale(0%) opacity(1);
	filter: grayscale(0%) opacity(1);
}
.client-types {
	margin: 0 0 1rem 0;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;
}
.client-types figure{
	display: inline-block;
	width: 24.5%;
	margin: 0;
	text-align: center;
	opacity: 0.4;
}
.about-container{
	background-color: #4883C4;
	background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyODgnIGhlaWdodD0nMjg4JyB2aWV3Qm94PScwIDAgMjg4IDI4OCc+Cgk8ZGVmcz4KCQk8cGF0dGVybiBpZD0nYmx1ZXN0cmlwZScgcGF0dGVyblVuaXRzPSd1c2VyU3BhY2VPblVzZScgeD0nMCcgeT0nMCcgd2lkdGg9JzE4JyBoZWlnaHQ9JzE4JyB2aWV3Qm94PScwIDAgMzYgMzYnID4KCQk8cmVjdCB3aWR0aD0nMTEwJScgaGVpZ2h0PScxMTAlJyBmaWxsPScjNDg4M0M0Jy8+CgkJCTxwYXRoIGQ9J00xLDFoMzZ2MzZoLTM2di0zNicgZmlsbC1vcGFjaXR5PScwJyBzdHJva2Utd2lkdGg9JzEnIHN0cm9rZS1kYXNoYXJyYXk9JzAsMSwxJyBzdHJva2U9JyM4ZGFjZTcnLz4KCQk8L3BhdHRlcm4+IAoJCTxmaWx0ZXIgaWQ9J2Z1enonIHg9JzAnIHk9JzAnPgoJCQk8ZmVUdXJidWxlbmNlIHR5cGU9J3R1cmJ1bGVuY2UnIHJlc3VsdD0ndCcgYmFzZUZyZXF1ZW5jeT0nLjIgLjMnIG51bU9jdGF2ZXM9JzUnIHN0aXRjaFRpbGVzPSdzdGl0Y2gnLz4KCQkJPGZlQ29sb3JNYXRyaXggdHlwZT0nc2F0dXJhdGUnIGluPSd0JyB2YWx1ZXM9JzAnLz4KCQk8L2ZpbHRlcj4KCTwvZGVmcz4KCTxyZWN0IHdpZHRoPScxMDAlJyBoZWlnaHQ9JzEwMCUnIGZpbGw9J3VybCgjYmx1ZXN0cmlwZSknLz4KPHJlY3Qgd2lkdGg9JzEwMCUnIGhlaWdodD0nMTAwJScgZmlsdGVyPSd1cmwoI2Z1enopJyBvcGFjaXR5PScwJy8+Cjwvc3ZnPgo=);
}
.about{
	color: #fff;
}

.about h2{
	color: rgba(255,255,255,0.6);
}

.team {
	margin:  0;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
	align-items: stretch;
	flex-direction: row;
	flex-wrap: wrap;
}
.team figure{
	display: inline-block;
	margin: 1rem;
	text-align: center;
	color: rgba(255,255,255,0.6);
}
.team figure img{
	border-radius: 50rem;
	border: 0.4rem solid #1F4283;
}
.team figure figcaption div{
	font-family: "Montserrat", "Lato", "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
	color: #fff;
	font-size: 1.1rem;
}
.contact-form, .contact-form input, .contact-form select, .contact-form textarea, .contact-form button{
	font-family: "Montserrat", "Lato", "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;

	font-size: 1.6rem;
}
.contact-form{
	margin: 1rem 0 2rem;
	padding: 2rem;
	line-height: 1.9;
	border: 1px solid #449A9E;
}
.contact-form input, .contact-form select, .contact-form textarea{
	border: 0;
	border-bottom: 2px dotted #449A9E;
	padding: 0;
	margin: 0;
	color: #1F8478;
	border-radius: 0;
	max-width: 100%;
	background: 0;
}
.contact-form input:focus, .contact-form select:focus, .contact-form textarea:focus{
	//outline: none;
}
.contact-form textarea{
	overflow: hidden;
	margin-top: 0.5rem;
	word-wrap: break-word;
}
.contact-form button{
	background: none;
	border: 2px solid #449A9E;
	border-radius: none;
	color: #449A9E;
	padding: 0.5rem 1rem;
	margin-top: 0.5rem;
	text-transform: uppercase;
	font-size: 1.2rem;
	cursor: pointer;
}
.contact-form button:hover{
	background-color: #449A9E;
	color: #fff;
}
.contact-flex{
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
.contact-info{
	font-family: "Montserrat", "Lato", "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
	text-align: center;
	display: inline-block;
	min-width: 25%;
	font-size: 1.2rem;
	color: #1F4283;
	text-decoration: none;
	padding: 0 1rem;
}

.contact-info span{
	font-size: 0.8rem;
	color: #4b4b4D;
}
.address{
	text-align: center;
	margin-top: 2rem;
	color: #4B4B4D;
    font-size: 1.2rem;
}
.social{
	float: right;
}
#loading{
	display: none;
	margin: 0.5rem 1rem;
	color: #449A9E;
}
@media (max-width: 1024px){
	.work h2{
		font-size: 1.4rem;
	}
}
@media (max-width: 768px){
	html{
		font-size: 16px;
	}
	.work, .work-left, .work-right, .work-nested, .work-right-nested{
		display: block;
		margin: 0;
	}
	.work-item{
		margin: 0.25rem 0;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 10px;
		padding-top: 170px;
	}
	.clients figure{
		width: 32.5%;
	}
	.contact-form, .contact-form input, .contact-form select, .contact-form textarea, .contact-form button{
		font-size: 1.2rem;
	}
	.contact-form input, .contact-form select, .contact-form textarea{
		width: 100%;
		margin: 0.5rem 0;
    	padding: 0.25rem;
	}
	.contact-info:nth-of-type(1) { order: 2; }
	.contact-info:nth-of-type(2) { order: 3; }
	.contact-info:nth-of-type(3) { order: 1; }
	footer{
		text-align: center;
	}
	.social{
		float: none;
	}
}