@charset "utf-8";
/* CSS Document */

/* light grey - #e4ded6, teal - #449a9e, dark grey - #2e2e2e, yellow - #f1bc5c  */

/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.4em;
	color: #2e2e2e;	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h2{
	font-size: 2em;
	line-height: 2;
}

/*	BASIC STYLING */
#wrapper {
	width: 100%;
	overflow:hidden;
}

.dark_bg, .dark_bg_bot {
	background-image:url(../images/dark_texture.jpg);
	width: 100%;
}



.med_bg {
	background-image:url(../images/med_texture.jpg);
	width: 100%;
}

.light_bg {
	background-image:url(../images/light_texture.jpg);
	width: 100%;
}

.white_bg {
	background: #fff;
	width: 100%;
}

.container {
	width: 960px;
	margin: 0 auto;
	padding: 30px 0 30px 0;
	font-family: Arial, Helvetica, sans-serif;
}

/* SUB HEADER AND BACKGROUND STYLING*/
.header_line {
	background-color:rgba(68, 154, 158, 0.2);
	padding: 5px 0;
	width: 300px;
	margin-top: 20px;
}

.container h1, .container h4, #header{
    font-family: 'Oswald', Arial, Helvetica, sans-serif; 
	text-align:center;
	text-transform: uppercase;
	line-height: 1em;
}

.container h1 {
	font-size:50px;
	padding-bottom: 20px;
	float:left;
}

.container h4 {
	font-size: 20px;
}

.dark_bg .container h1, .med_bg .container h1, #contact .contact_left h1, .med_bg .container .container_header h1 {
	color: #e4ded6;
}

.light_bg .container h1, .white_bg .container h1 {
	color: #2e2e2e;
}

.light_bg .container .lrg_info, .med_bg .container .lrg_info, .dark_bg .container .lrg_info {
	font-family: 'Arvo', Arial, Helvetica, sans-serif;;
	text-align:center;
	font-size:24px;
	line-height:1.4;
}

.light_bg .container .lrg_info {
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
	color: #2e2e2e;
}

.med_bg .container .lrg_info, .dark_bg .container .lrg_info {
	color: #e4ded6;
}

/* MAIN NAV - FLOATS DOWN THE PAGE */
#main_nav {
	background-image:url(../images/dark_texture.jpg);
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-weight: 700;
	font-size: 18px;
	text-transform:uppercase;
	position: fixed;
	width: 100%;
	height: 70px;
	border-bottom: 3px dotted rgba(255,255,255,0.1);
	z-index: 1;
}

.nav_container {
	width: 960px;
	margin: 0 auto;
	background-position:bottom;
	background-repeat: no-repeat;
	height: 70px;
}

.nav_logo img{
	float:left;
}

#main_nav ul {
	float:right;
	margin-right: 20px;
	padding-top: 25px;
}

#main_nav ul li {
	display: inline-block;
}

#main_nav ul li {
	padding-left: 20px;
}

#main_nav ul li a {
	text-decoration: none;	
	color: #fff;
}

#main_nav ul li a:hover {
	color:#449a9e;
}

#main_nav ul .social a {
	text-decoration: none;	
	color:#f1bc5c;
}

#main_nav ul .social a:hover {
	text-decoration: none;	
	color:#449a9e;
}

/*MAIN NAV TOGGLE HIDDEN*/
#toggle {
	color: #e4ded6;
	float: right;
	width:430px;
	height: 15px;
	padding:6px 0 0 0;
	margin: 25px 45px 0 0;
	text-align: left;
	height: 20px;
	cursor:pointer;
}

#toggle #hide {
	float: right;
}

#hide:active {
	color: #fff;
}

.fb-like {
	float:left;
	width:80px;
}

#twitter_follow {
	width: 100px;
	float:left;
}

.nav_anchor {
	position: absolute;
	margin-top: -90px;
}

/* HEADER */
#holder {
	height: 70px;
}

.header_content {
	background-image:url(../images/header_image1.png);
	background-repeat:no-repeat; 
	color: #e4ded6;
	height: 700px;
	width: 960px;
	margin-left:auto;
	margin-right: auto;
}

.header_info {
	padding-top: 50px;
	padding-left: 490px;
}

.header_content h1 {
	font-family: 'Oswald', Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 75px;
	text-align:left;
	line-height: 1.1;
	text-transform:uppercase;
	margin-bottom: 10px;
}

.header_content h1 strong {
	color: #449a9e;
}

.header_content p {
	width: 440px;
	font-family: 'Arvo', Arial, Helvetica, sans-serif;
	font-size: 17px;
	line-height: 1.4;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}

.header_content strong {
	color: #f1bc5c;
}

/* SERVICES */
.container .nav_med {
	text-align: center;
	margin: 35px 0 30px 0;
	cursor:pointer;
}

.container .nav_med li {
	display: inline;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-transform:uppercase;
}

.container .nav_med li a {
	text-decoration: none;
	padding: 3px 10px;
	margin: 0 30px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #e4ded6;
	background-color:rgba(68, 154, 158, 0.4);
}

.container .nav_med li a:hover {
	background-color:rgba(144, 144, 144, 0.2);
}
.white_bg .container .nav_med li a{
	color: #fff;
	background-color:rgba(68, 154, 158, 1);
}
.white_bg .container .nav_med li a:hover {
	background-color:rgba(144, 144, 144, 1);
}

/* TILES */
.tile_container {
	margin: 30px 0 20px 0;
}

.tile {
	width: 200px;
	float: left;
	text-align: left;
	background-color: rgba(144, 144, 144, 0.1);
	margin-left: 7px;
	margin-bottom:10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 15px;
	line-height:1.4em;
	color: #2e2e2e;
	border: none;
	text-decoration: none;
	min-height: 215px;
}

.tile_line {
	background-color:rgba(68, 154, 158, 0.2);
	padding: 5px 0;
}

#green {
	background-color:rgba(28, 166, 132, 0.3);
}

#yellow {
	background-color:rgba(241, 188, 92, 0.3);
}

#blue {
	background-color:rgba(36, 92, 170, 0.3);
}

#pink {
	background-color:rgba(226, 49, 207, 0.3);
}

.tile h4 {
	text-align:left;
	font-family: 'Oswald', Arial, Helvetica, sans-serif;
	line-height: 2.4em;
}


.tile p strong {
	font-style:italic;
}

.services_info .small_info {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align:center;
	color:#2e2e2e;
	padding-top: 15px;
	letter-spacing:1px;
	line-height: 1.7;
	width: 90%;
	margin:0 auto;
}

/* PORTFOLIO */
.portfolio_divider {
	border-bottom: 4px solid rgba(228, 222, 214, 0.4);
	width: 960px;
	margin-top: 10px;
	margin-bottom:40px;
}

.portfolio_info, .portfolio_right { 
	color: #e4ded6;
	line-height: 1.4;
}

.portfolio_info h4, .portfolio_right h4 {
	text-align: left;
	color: #e4ded6;
	margin-bottom: 20px;
}

.portfolio_info p, .portfolio_right p {
	margin-bottom: 20px;
}

.portfolio_left {
	float:left;
	width: 65%;
}

.portfolio_right {
	float:right;
	width: 30%;
}
.white_bg .portfolio_info{
	color: #2e2e2e;
}
.portfolio_item h1{
	float: none;
	text-align: left;
	margin: 20px 0;
}
.portfolio_item h1 span{
	color: rgba(46, 46, 46, 0.7);
	font-size: 0.7em;
	text-transform: initial;
}
.portfolio_info h3{
	color: rgba(46, 46, 46, 0.7);
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Oswald', Arial, Helvetica, sans-serif; 
	font-size: 1.2em;
	line-height: 2;
}
.portfolio_info li {
    float: left;
    width: 200px;
    text-align: center;
    margin: 2px 4px;
}
.portfolio_info li:hover{
	opacity: 0.8;
}
.portfolio_table{
	width: 100%;
	margin-bottom: 20px;
}
.portfolio_table td {
    border: 2px solid #ccc;
    padding: 0.7em;
}
.portfolio_table td:first-child{
	font-weight: bold;
	color: #666;
}

.inventory-table{
	width: 100%;
	font-size: 13px;
}
.inventory-table thead{
	font-weight: bold;
	color: #fff;
	background: #444;
	border: 1px solid #ccc;
}
.inventory-table tr{
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.inventory-table tr.disabled{
	background: #999;
	text-decoration: line-through;
}
.inventory-table tr:nth-child(odd){
	background: rgba(0,0,0,0.05);
}
.inventory-table td{
	border-right: 1px solid #ccc;
	padding: 0 5px;
	line-height: 1.5;
}
.inventory-table td:nth-child(6), 
.inventory-table td:nth-child(5), 
.inventory-table td:nth-child(4){
	text-align: center;
}
.inventory-table td:nth-child(8), 
.inventory-table td:nth-child(9), 
.inventory-table td:nth-child(7),
.inventory-table td:first-child{
	text-align: right;
}

/*STANDARD BUTTON STYLING*/

.green_but {
	margin-top: 20px;
	width: 120px;
	font-family: 'Oswald', Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-transform:uppercase;
	border: 0;
}

.green_but a, input.green_but {
	text-decoration: none;
	padding: 3px 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #e4ded6;
	background-color:rgba(68, 154, 158, 0.4);
}

.green_but a:hover, input.green_but:hover {
	background-color:rgba(144, 144, 144, 0.2);
}

input.green_but{
	float: right;
	margin-right: 16px;
}

/* ABOUT US */
.about_info {
	padding: 15px;
	font-size: 16px;

}

.about_tile {
	float: left;
	width: 270px;
	min-height: 380px;
	background-color: rgba(144, 144, 144, 0.1);
	font-size: 14px;
	line-height:1.3;
	margin: 10px;
	padding: 15px;
}

.about_line {
	background-color:rgba(68, 154, 158, 0.2);
	padding:5px 0;
}

.about_tile h4 {
	text-align: left;
	line-height: 2.4em;
}

.about_tile li {
	margin-bottom: 15px;
}

/* TEAM */
#team {
	width: 100%;
	background-color:rgba(0, 0, 0, 0.05);
}

#member_container {
	width: 920px;
	margin: 0 auto;
}

.member_header {
	margin-bottom: 10px;
}

.team_member {
    font-family: 'Arvo', Arial, Helvetica, sans-serif;
	font-size: 16px;
}

.team_member img {
	margin-right: 15px;
	margin-bottom: 5px;
}

.team_member a {
	text-decoration: none;
	color: #2e2e2e;
	border-bottom: 1px solid #2e2e2e;
}

.member_info {
	margin-bottom: 20px;
}

.member_info h5 {
	font-weight: bold;
	font-size: 16px;
	margin-top: 6px;
}

.member_info h6 {
	font-size: 14px;
	margin: 5px 0;
}

.member_info a {
	text-decoration: none;
	color:  #449a9e;
	font-size: 13px;
}

.member_info a:hover {
	border-bottom: 1px solid #449a9e;
}

/* CLIENTS */

#clients {
	margin: 50px 0 20px 10px;
	text-align: center;
}

#clients .light_bg {
	margin-bottom: 2px;
	margin-left: 2px;
	display: inline-block;
	width: 311px;
}
#clients .light_bg img{
	opacity: 0.4;
}

.med_info {
	font-family: 'Arvo', Arial, Helvetica, sans-serif;
	text-align:center;
	font-size:20px;
	line-height:1.4;
	color: #e4ded6;
	margin-top: 20px;
}

/* CONTACT */
#wrapper .dark_bg_bot {
	border-bottom: 2px solid #000;
}

.contact_left {
	float: left;
	width: 30%;
	text-align:right;
	color: #e4ded6;
	padding-right: 20px;
}

.contact_line {
	background-color:rgba(68, 154, 158, 0.2);
	padding: 5px 0;
	margin-top: 20px;
	margin-bottom: 10px;
}

.contact_left h1 {
	text-align:right;
	padding-bottom:30px;
	width: 290px;;
}

.contact_left p {
	line-height: 1.3;
	font-family:Arial, Helvetica, sans-serif;
	padding-bottom: 20px;
	font-size: 16px;
}

.contact_right {
	float: right;
	width: 67%;
}

.contact_right img {
	margin-top: 50px;
	margin-bottom: 20px;
}

/* CONTACT FORM */
.contact_form_left {
	float:left;
	width: 50%;
}

.contact_form_right {
	float:left;
	width: 45%;
}

.contact_form_left input {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid rgba(0,0,0,0.9);
	margin-bottom: 10px;
	padding-left: 5px;
	font-size: 18px;
	line-height: 2em;
	background-color:#e4ded6;
	color: #444;
}

.contact_form_right textarea {
	background-color:#e4ded6;
	color: #444;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
	padding: 10px 0 0 10px;
	border: 1px solid rgba(0,0,0,0.9);
	font-size: 18px;
	width:260px ;
	min-height: 178px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	overflow: hidden;
}

.contact_right_thankyou {
	color: #e4ded6;
	font-size: 18px;
	display: none;
}

.contact_social a {
	border: none;
	text-decoration:none;
	margin: 5px;
	display: none;
}

/* CONTACT FORM ERRORS */
.submit_errors {
	color: #e4ded6;
	width: 590px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height:1.4;
	float:right;
	margin-top: 20px;		
}

#error {
	color: #f1bc5c;	
}

/* FOOTER */
.footer {
	max-width: 1591px;
	margin: 0 auto;
	background-image:url(../images/footer_highlight.png);
	background-repeat:no-repeat;
	overflow:hidden;
}

.foot_container {
	width: 960px;
	margin: 0 auto;
	padding: 10px 0 5px 0;
}

.copyright {
	text-align: center;
	color: #e4ded6;
	font-size: 10px;
	padding-top: 10px;
}

.foot_nav {
	margin: auto 0;
}

.foot_nav ul {
	text-align:center;
}

.foot_nav ul li {
	display:inline;
	padding-left: 10px;
}

.foot_nav ul li a {
	text-decoration: none;
	color: #e4ded6;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.foot_nav ul li a:hover {
	text-decoration: none;
	color: #449a9e;
	font-size: 12px;
}
.print-logo{
	display: none;
}

@media print{
	ul.nav, .med_bg, #holder, .dark_bg_bot, .dark_bg, .header-line, ul.nav_med, .nav_logo{
		display: none;
	}
	html, body, .container{
		width: 100%;
	}
	#main_nav{
		position: relative;
		height: 20px;
	}
	#inventory1, #inventory2, #inventory3, #inventory4, #inventory5{
		display: block !important;
		page-break-after: always;
	}
	.print-logo{
		display: inline-block;
		vertical-align: middle;
		margin-left: 5px;
	}
}